<footer class="footer">
  <div class="container footer-grid">
    <div>
      <h2>Paris Nord Élite</h2>
      <p>
        Association de proximité engagée pour la jeunesse, les familles et les habitants du nord
        parisien.
      </p>
    </div>

    <div>
      <h3>Contact</h3>
      <p>parisnordelite&#64;gmail.com</p>
      <p>Instagram : &#64;paris_nord_elite</p>
      <p>Snapchat : parisnordelite</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2026 Paris Nord Élite — Unir. Accompagner. Inspirer. Agir. - Créé par Yayou 💻🔥</p>
  </div>
</footer>
